aiohttp==3.8.1
bored_api
certifi
dnspython
genshin
git+https://github.com/Damego/discord-py-interactions.git
git+https://github.com/Damego/i-need-this-for-host-my-bot.git
lavalink
motor
pillow
pre-commit
PyGithub
pygount
pymongo
python-dotenv
qrcode
