aiohttp==3.8.1
bored_api
certifi
git+https://github.com/Damego/i-need-this-for-host-my-bot.git
genshin
git+https://github.com/Damego/discord-py-interactions.git
lavalink
motor
pillow
pre-commit
PyGithub
pymongo
qrcode
